<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose Commerce Solution | AlphaRank</title>
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body class="user-page">
    
    <nav class="navbar navbar-default scrolled navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="navbar-brand"><a class="" href="/"><img class="img-white" src="img/alpharank_white_logo.png" alt="Alpharank Logo"><img class="img-dark" src="img/logo.png" alt="Alpharank Logo"></a></h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="user"><a href="#" class="user-email"><img src="img/user.png" alt=""> yoela722@gmail.com<span class="caret"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section class="user-pagecont">
      <div class="container">
        <div class="user-hcont thankyou-page">
          <form action="" class="post">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
                <h2 class="bhead" data-sr='enter bottom, move 100px, wait 0.3s'>Thank You! Your data is being processed.</h2>
                <p data-sr='enter bottom, move 100px, wait 0.6s'>We will notify you when it’s ready to view</p>
                <div class="progress-bar" data-sr='enter bottom, move 100px, wait 0.9s'>
                  <div class="progress"></div>
                  <span class="progress-num">80%</span>
                </div>
                <div class="name-list">
                  <label for="listName" data-sr='enter bottom, move 100px, wait 1.2s'>Name your list?</label>
                  <input type="text" class="input-listname" placeholder="Elite List" required data-sr='enter bottom, move 100px, wait 1.5s'>
                </div>
                <div class="foot-block" data-sr='enter bottom, move 100px, wait 0.3s'>
                  <a class="bround" href="creditcard.html">VIEW</a>
                </div>
              </div>
            </div>
          </form>
        </div>
    </section>
    <footer class="pagefooter">

      <div class="container">

         <div class="row">
            <div class="col-sm-3">
               <nav class="footer-nav">
                  <ul>
                    <li><a href="/whitepapers.htm">White Papers</a></li>
                    <li><a href="/about.htm">About</a></li>
                    <li><a href="/contact.htm">Contact</a></li>
                  </ul>
               </nav>
            </div>

            <div class="col-sm-3">
               <div class="social-connect">
                  <h6>Connect with us</h6>

                  <a href="https://twitter.com/AlphaRank" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/AlphaRank" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/company/alpharank" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
               </div>
            </div>

            <div class="col-sm-3 col-sm-offset-3">
               <div class="copyright">
                  <div class="footer-logo">
                     <a href="/"><img src="img/f-logo.png" alt="AlphaRank"></a>
                  </div>
                  <p>Copyright &#169; 2015. BiddRocket Inc</p>
               </div>
            </div>
         </div>

      </div><!--end /container-->

  </footer><!--end /pagefooter-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/libs/scrollreveal.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      // Initialised scroll reveal
      window.sr = new scrollReveal();
      </script>
  </body>
</html>