<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose Commerce Solution | AlphaRank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body class="user-page">
    
    <nav class="navbar navbar-default scrolled navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="navbar-brand"><a class="" href="/"><img class="img-white" src="img/alpharank_white_logo.png" alt="Alpharank Logo"><img class="img-dark" src="img/logo.png" alt="Alpharank Logo"></a></h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section class="user-pagecont">
      <div class="container">
        <div class="ecommerce-integrations">
          <div class="avail-integ">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <h3 data-sr='enter left, move 100px, wait 0.6s'>Select a list of influencers</h3>
              </div>
              <div class="col-xs-12 col-sm-4">
                <form class="fsearch-box" data-sr='enter right, move 100px, wait 0.6s'>
                  <div class="form-group">
                    <input type="text" class="form-control" id="search-integration" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
          <div class="panel-group" id="accordion-list" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default"  data-sr='enter left, move 100px, wait 0.3s'>
              <div class="panel-heading" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></a>
                <div class="panel-insight-list">
                  <span class="insight-name">Best Buyer Lists 7.12</span>
                  <span class="influencer-num">500</span>
                  <span>influencers</span>
                </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                </div>
              </div>
            </div>
            <div class="panel panel-default"  data-sr='enter right, move 100px, wait 0.6s'>
              <div class="panel-heading" role="tab" id="heading2">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collaps2" aria-expanded="true" aria-controls="collaps2"></a>
                <div class="panel-insight-list">
                  <span class="insight-name">Elite Lists 7.12</span>
                  <span class="influencer-num">500</span>
                  <span>influencers</span>
                </div>
              </div>
              <div id="collaps2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                  <div class="phead">
                    <h2>We found great insights from your transactional data!</h2>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="tdata-box">
                        <span>5000</span>
                      </div>
                      <span class="tdata-title">Transactions</span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <div class="tdata-box">
                        <span>989</span>
                      </div>
                      <span class="tdata-title">Customers</span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <div class="tdata-box">
                        <span>214</span>
                      </div>
                      <span class="tdata-title">Influencers</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default"  data-sr='enter left, move 100px, wait 0.9s'>
              <div class="panel-heading" role="tab" id="heading3">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collaps3" aria-expanded="true" aria-controls="collaps3"></a>
                <div class="panel-insight-list">
                  <span class="insight-name">Elite Lists 7.12</span>
                  <span class="influencer-num">500</span>
                  <span>influencers</span>
                </div>
              </div>
              <div id="collaps3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                  <div class="phead">
                    <h2>Export Alpha<span class="cgreen">rank</span> Influencer List To:</h2>
                  </div>
                  
                  <div class="ecommerce-grid market-solution">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ebox" data-sr='enter bottom, move 100px, wait 0.3s'>
                          <div class="img-cont">
                            <img src="img/market-solution/bronto.png" alt="Bronto" class="img-responsive">
                          </div>
                          <div class="ehover" data-sr='wait 0.6s'>
                            <i class="fa fa-file-text"></i>
                            <span class="txt">REQUEST INTEGRATION</span>
                            <a data-toggle="modal" data-target="#modal-bronto"></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ebox" data-sr='enter bottom, move 100px, wait 0.6s'>
                          <div class="img-cont">
                            <img src="img/market-solution/marketo.png" alt="Marketo" class="img-responsive">
                          </div>
                          <div class="ehover">
                            <i class="fa fa-file-text"></i>
                            <span class="txt">REQUEST INTEGRATION</span>
                            <a data-toggle="modal" data-target="#modal-marketo"></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ebox" data-sr='enter bottom, move 100px, wait 0.9s'>
                          <div class="img-cont">
                            <img src="img/market-solution/eloqua.png" alt="Eloqua" class="img-responsive">
                          </div>
                          <div class="ehover">
                            <i class="fa fa-file-text"></i>
                            <span class="txt">REQUEST INTEGRATION</span>
                            <a data-toggle="modal" data-target="#modal-eloqua"></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ebox" data-sr='enter bottom, move 100px, wait 0.3s'>
                          <div class="img-cont">
                            <img src="img/market-solution/mailchimp.png" alt="Mailchimp" class="img-responsive">
                          </div>
                          <div class="ehover">
                            <i class="fa fa-file-text"></i>
                            <span class="txt">REQUEST INTEGRATION</span>
                            <a data-toggle="modal" data-target="#modal-mailchimp"></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ebox" data-sr='enter bottom, move 100px, wait 0.6s'>
                          <div class="img-cont">
                            <img src="img/market-solution/salesforce.png" alt="Salesforce" class="img-responsive">
                          </div>
                          <div class="ehover">
                            <i class="fa fa-file-text"></i>
                            <span class="txt">REQUEST INTEGRATION</span>
                            <a data-toggle="modal" data-target="#modal-salesforce"></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ebox" data-sr='enter bottom, move 100px, wait 0.9s'>
                          <div class="img-cont">
                            <img src="img/ecommerce/mozu.png" alt="Mozu" class="img-responsive">
                          </div>
                          <div class="ehover">
                            <i class="fa fa-file-text"></i>
                            <span class="txt">REQUEST INTEGRATION</span>
                            <a data-toggle="modal" data-target="#modal-mozu"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="pagefooter">

      <div class="container">

         <div class="row">
            <div class="col-sm-3">
               <nav class="footer-nav">
                  <ul>
                    <li><a href="/whitepapers.htm">White Papers</a></li>
                    <li><a href="/about.htm">About</a></li>
                    <li><a href="/contact.htm">Contact</a></li>
                  </ul>
               </nav>
            </div>

            <div class="col-sm-3">
               <div class="social-connect">
                  <h6>Connect with us</h6>

                  <a href="https://twitter.com/AlphaRank" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/AlphaRank" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/company/alpharank" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
               </div>
            </div>

            <div class="col-sm-3 col-sm-offset-3">
               <div class="copyright">
                  <div class="footer-logo">
                     <a href="/"><img src="img/f-logo.png" alt="AlphaRank"></a>
                  </div>
                  <p>Copyright &#169; 2015. BiddRocket Inc</p>
               </div>
            </div>
         </div>

      </div><!--end /container-->

  </footer><!--end /pagefooter-->
    <div id="modal-bronto" class="modal fade" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->

        <div class="modal-content">
          <div class="mheader">
            <button type="button" class="close" data-dismiss="modal"><img class="right" src="img/close_button.png"></button>
            <img class="img-responsive m-commerce" src="img/market-solution/bronto.png">
          </div>
          <div class="modal-body">
            <form name="signup" method="post">
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="input-group form-submit">
                <!-- <input type="button" class="bround" value="LOGIN"> -->
                <a class="bround" href="congratulations.html">LOGIN</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- Modal End-->
    <div id="modal-marketo" class="modal fade" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->

        <div class="modal-content">
          <div class="mheader">
            <button type="button" class="close" data-dismiss="modal"><img class="right" src="img/close_button.png"></button>
            <img class="img-responsive m-commerce" src="img/market-solution/marketo.png">
          </div>
          <div class="modal-body">
            <form name="signup" method="post">
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="input-group form-submit">
                <!-- <input type="button" class="bround" value="LOGIN"> -->
                <a class="bround" href="congratulations.html">LOGIN</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- Modal End-->
    <div id="modal-eloqua" class="modal fade" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->

        <div class="modal-content">
          <div class="mheader">
            <button type="button" class="close" data-dismiss="modal"><img class="right" src="img/close_button.png"></button>
            <img class="img-responsive m-commerce" src="img/market-solution/eloqua.png">
          </div>
          <div class="modal-body">
            <form name="signup" method="post">
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="input-group form-submit">
                <!-- <input type="button" class="bround" value="LOGIN"> -->
                <a class="bround" href="congratulations.html">LOGIN</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- Modal End-->
    <div id="modal-mailchimp" class="modal fade" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->

        <div class="modal-content">
          <div class="mheader">
            <button type="button" class="close" data-dismiss="modal"><img class="right" src="img/close_button.png"></button>
            <img class="img-responsive m-commerce" src="img/market-solution/mailchimp.png">
          </div>
          <div class="modal-body">
            <form name="signup" method="post">
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="input-group form-submit">
                <!-- <input type="button" class="bround" value="LOGIN"> -->
                <a class="bround" href="congratulations.html">LOGIN</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- Modal End-->
    <div id="modal-salesforce" class="modal fade" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->

        <div class="modal-content">
          <div class="mheader">
            <button type="button" class="close" data-dismiss="modal"><img class="right" src="img/close_button.png"></button>
            <img class="img-responsive m-commerce" src="img/market-solution/salesforce.png">
          </div>
          <div class="modal-body">
            <form name="signup" method="post">
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="input-group form-submit">
                <!-- <input type="button" class="bround" value="LOGIN"> -->
                <a class="bround" href="congratulations.html">LOGIN</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- Modal End-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/libs/scrollreveal.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      // Initialised scroll reveal
      window.sr = new scrollReveal();      
    </script>
  </body>
</html>